/* sets the background of the 3d viewport to black */
canvas {
  background-color: black;
}

/* default font */
p {
  font-family: 'Inter', sans-serif;
}

/* 3d phrase display */
.phrase-display {
  position: relative;
  display: block;
  color: black;
  font-size: 180px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

/* name on stand */
.stand-name {
  position: relative;
  display: block;
  color: orangered;
  font-size: 112px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

/* score displayed on stand */
.stand-score {
  position: relative;
  display: block;
  font-size: 120px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin: 0px;
  color: limegreen;
}

/* ready status on stand */
.stand-ready-status {
  position: relative;
  display: block;
  font-size: 120px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin: 0px;
}

/* main container for error box */
.error-box-container {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30%;
  height: 20%;
  transform: translate(-50%, -100%);
  padding: 12px;
}

/* visible error box div */
.error-box {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
}

/* close button for error box */
.error-close {
  position: absolute;
  top: calc(100% - 24px);
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: darkred;
  border-style: none;
  border-radius: 6px;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Inter', sans-serif;
}

/* text in error box */
.error-text {
  color: darkred;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

/* container for the messages in games */
.game-message-container {
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 12px;
}

/* text displayed when message recieved from server */
.game-message-text {
  opacity: 1;
  font-size: 32px;
  font-family: 'Source Code Pro', monospace;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

/* styling for room list item */
.room-item {
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

/* styling for full screen canvas */
.background-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}