canvas {
  position:fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

* {
  background-color: black;
}

p {
  color: white;
  font-family: 'Source Code Pro', monospace;
}

.room-item {
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: 5px;
}