canvas {
  background-color: black;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  color: black;
}

.error-box-container {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30%;
  height: 20%;
  transform: translate(-50%, -100%);
  padding: 12px;
}

.error-box {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
}

.error-close {
  position: absolute;
  top: calc(100% - 24px);
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: darkred;
  border-style: none;
  border-radius: 6px;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.error-text {
  color: darkred;
  text-align: center;
}

.room-item {
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.background-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}